
%article.white
	.section
		.wrapper
			.section-header Checkout
			.row
				.col-half
					%article.grey.order-summary
						.section-header Your order summary
						- @cart.line_items.each do |line|
							.summary	
								.item-name
									= line.product.name.truncate(15)
								.qty
									= "x" + line.quantity.to_s
								.tot-price
									= line.total_price
						.cart-total
							.total-text Total
							.order-total= number_to_currency(@cart.total_price, unit: 'GHS')
					= button_to "View Cart", cart_path(@cart), method: :get, class: "button"
				.col-half
					.section-header Fill your details
					= render 'form', order: @order

