= content_for :title, @category.name + " on Claeus"


.page
	%article.white
		.section
			.section-header= @category.name
			.wrapper
				.grid
					- @category.stores.each do |s|
						.col-quarter
							.grid-tile
								= link_to s.name, s, class: "tile-name"
							
	

		.section
			.section-header Also in the Category
			.wrapper
				.grid-container
					.grid
						- @subcategories.each do |sub|
							.col-quarter
								= link_to sub do
									.grid-tile
										.tile-img{ style: "background-image:  url('#{sub.avatar.url(:medium)}')"  }
										.tile-name= sub.name
